:root {
    --branco-principal: #FFFFFF;
    --branco--gelo: #ffffffdf;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --cor-de-fundo-padrao: #e9f5f8;
    --fonte-principal: 'Inter';
    --botao-efeito-colorido: #0eddf4;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    background: linear-gradient(to bottom, #e9f5f8, #e9f5f8, #e9f5f8);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

