:root {
    --branco-principal: #FFFFFF;
    --branco--gelo: #ffffffdf;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --cor-de-fundo-padrao: #e9f5f8;
    --fonte-principal: 'Inter';
    --botao-efeito-colorido: #0eddf4;
    --cor-Nova-botao: #E19276;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-fundo);
    background: linear-gradient(to bottom, #e9f5f8, #e9f5f8, #e9f5f8);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}
.links {
    background-color: rgba(246, 6, 6, 0);
    border-radius: 5px;
    border-bottom: solid black;
    padding: 1em;
    padding-bottom: 6px;
    color: var(--cor-de-fundo);
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}
.container_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.container_principal {
    background-image: url('/img/chapanela1920.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}
.icones_imagem {
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transição suave */
    border-radius: 10px; /* Borda arredondada opcional */
    width: 400px;
    height: 350px;
    }
.icones_grid2 {
    width: 100%;
}

.icones_grid {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns:auto auto auto;
    margin-bottom: 2em;
}

.icones_grid3 {
    width: 300px;
    height: 200px;
}


.icones_principal {
    color: var(--cor-de-fundo);
    font-size: 28px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1px;
    height: 36px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nomes_icones {
    color: var(--cor-de-fundo);
    font-size: 28px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1px;
    height: 36px;
    text-decoration: none;
    transition: all 0.3s ease;

}

.icone_imagem {
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transição suave */
    border-radius: 10px; /* Borda arredondada opcional */
    width: 150px;
    height: 150px;
}

.resevar {
    display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
}

.contador {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(45deg, #8aafa2, #8aafa2);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 50px; /* Ajuste conforme necessário */
    width: 250px; /* Ajuste conforme necessário */
    margin: auto; /* Centraliza horizontalmente */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5em;
}


.container__botaoLogin {
    position: absolute;
    top: 10%; /* 20% a partir do topo do contêiner */
    left: 80%; /* 30% a partir da esquerda */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 400;
    width: 6em;
    text-align: center;
}
.container__botaoCadastro {
    position: absolute;
    top: 10%; /* 20% a partir do topo do contêiner */
    left: 80%; /* 30% a partir da esquerda */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-top: 4em;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 400;
    width: 6em;
    text-align: center;
}

.container__botaoLogin:hover {
    background-color: var(--botao-efeito-colorido);
    color: var(--cor-de-fundo);
    transform: scale(1.1); /* Aumenta o botão */
    box-shadow: 0 4px 15px rgb(5, 67, 238); /* Adiciona sombra */
}

.container__botaoCadastro:hover {
    background-color: var(--botao-efeito-colorido);
    color: var(--cor-de-fundo);
    transform: scale(1.0); /* Aumenta o botão */
    box-shadow: 0 4px 15px rgb(5, 67, 238); /* Adiciona sombra */
}

.container__botao {
    background-color: #8aafa2;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    transition: all 0.3s ease;
}
.container__botao:hover {
    background-color: var(--botao-efeito-colorido);
    color: var(--cor-de-fundo);
    transform: scale(1.2); /* Aumenta o botão */
    box-shadow: 0 4px 15px rgb(5, 67, 238); /* Adiciona sombra */
}

.tamanho-grid-botao {
    border: solid red;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-de-fundo);
}

.container__aviso2 {
    font-size: 12px;
    color: var(--cor-de-fundo)
}


.container__secundario {
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns:auto auto auto;
    margin-bottom: 2em;
}



.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-de-fundo);
    font-size: 28px;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1px;
    height: 36px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.descricao__texto:hover {
    color: var(--cor-de-fundo);
    transition: all 0.3s ease;
    transform: scale(1.1); /* Aumenta o botão */
}

.descricao__texto2 {
    color: var(--cinza-secundario);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 4em;
    text-decoration: none;
 
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;

}

.container__descricao {
    padding: 2em;
}
.dispositivos {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.dispositivos__titulo {
    font-size: 30px;
    color: var(--cor-de-fundo);
}



.titulo_pix {
    font-size: 20px;
    color: var(--cor-de-fundo);
}

.lista__item {
    font-size: 32px;
    color: var(--cor-de-fundo);
    margin: 0em 1em 0em 1em;
}

.dispositivos__lista {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    list-style-type: none;
    color: var(--branco-principal);
    margin: 2em 10em 2em 10em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
    margin-bottom: 2em;
    gap: 3em;   
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: #fb081c;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.secundario__imagem {
    width: 60%;
}

.imagem_pix {
    object-fit: cover; /* Mantém a proporção da imagem */
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transição suave */
    border-radius: 10px; /* Borda arredondada opcional */
    width: 400px;
}

.imagem_pix:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}

.imagemF {
    align-items: center;
}

.imagem {
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: transform 0.4s ease, box-shadow 0.3s ease; /* Transição suave */
    border-radius: 10px; /* Borda arredondada opcional */
    width: 400px;
    height: 350px;
}

.imagem:hover {
    transform: scale(1.2); /* Aumenta a imagem em 10% */
}

.tamanho__grid {
    width: 400px;
    height: 200px;
}

@media (max-width: 1080px) {
    .container_principal {
        margin-top: 2em;
        height: 100vh;
    }

    .container__botaoLogin {
        padding: 1em;
        font-size: 15px;
        font-weight: 400;
        width: 6em;

    }
    .container__botaoCadastro {
        padding: 1em;
        font-size: 15px;
        font-weight: 400;
        width: 6em;
    }
    .descricao__texto {
        font-size: 24px;
    }
    
    .container__secundario {
        grid-template-columns:auto auto;
    }
    .container__botao {
        margin-top: 1em;
    }
}


/* Para telas menores que 830px (Ex: Tablets) */
@media (max-width: 820px) {
    .container_principal {
        margin-top: 0px;
        height: 80vh;
    }

    .container__botaoLogin {
        top: 8em;
        padding: 1em;
        font-size: 15px;
        font-weight: 400;
        width: 6em;

    }
    .container__botaoCadastro {
        top: 8em;
        padding: 1em;
        font-size: 15px;
        font-weight: 400;
        width: 6em;
    }
    .descricao__texto {
        font-size: 24px;
    }
    
    .container__secundario {
        grid-template-columns:auto auto;
    }
    .container__botao {
        margin-top: 1em;
    }


}


/* Para telas menores que 480px (Ex: Celulares pequenos) */
@media (max-width: 480px) {
    
    .container__secundario {
        display: flex;
        flex-wrap: wrap; /* Permite quebrar linha se necessário */
        justify-content: center; /* Centraliza os itens */
        gap: 10px; /* Espaçamento entre os itens */
    }

    .tamanho__grid {
        width: 45%;
        text-align: center;
        height: 7em;
    }

    .contador {
        margin-bottom: 1em;
    }
    .secundario__imagem.imagem {
        width: 100%;
        max-width: 120px; /* Ajuste o tamanho máximo da imagem */
    }

    .container__botao {
        width: 80%;
        padding: 10px;
        margin-top: 0px;
    }

    .container_principal {
        background-position:top;
        margin-top: 2em;
        height: 30vh;
    }
    .secundario__botao {
        font-size: 20px;   
    }
    .container__botaoLogin {
        width: 30%; 
        top: 53%;
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
    }
    .container__botaoCadastro {
        width: 30%;  
        top: 53%;  
        left: 50%;
        transform: translate(-50%);
        font-size: 12px;
    }
    
    .descricao__texto {
        display: block; /* Faz o link ocupar toda a área definida */
        width: 100%; /* Define um tamanho maior */
        text-align: center;
        word-wrap: break-word;
        font-size: 26px;
    }

    .imagem_pix {
        width: 300px;
    }
    .dispositivos__titulo {
        font-size: 22px;
        margin-top: 2em;
    }

     .links {
        font-size: 15px; /* Fonte ainda menor */
        border-radius: 3px; /* Arredonda menos os cantos */
        border-bottom: solid 1px black; /* Diminui a espessura da borda */
    }

    .container_links {
        display: grid;
        gap: 0;
    }
}

/* Para telas menores que 480px (Ex: Celulares pequenos) 
@media (max-width: 480px) {

    .container_principal {
        background-position:top;
        margin-top: 2em;
        height: 30vh;
    }
    .tamanho__grid {
        width: 50px;
        height: 100px;
    }
    .secundario__imagem.imagem {
        width: 60vw;
    }
    .container__botao {
        height: 8px;
        padding: 1em 1em 1em 1em;
    }





    




